body{
  margin: 0;
  overflow-x: hidden;
}
#container {
  width: 120%;
  margin-left: -10%;
  margin-top: -50px;
}
.tile1, .tile2, .tile3 {
  width: 300px;
  height: 300px;
  margin: -40px;
  float: left;
  opacity: .8;

}
.tile1{
  background-color: #FF8499;

}
.tile2{
  background-color: #FFEA84;
}
.tile3{
  background-color: #99FF84
}
