body{
  margin: 0;
  background-color: #171924;
  align-items: center;
  justify-content: center;
}
#bg{
  float: center;
  width: 100%;
  height: auto;

}
.container{
  float: center;
  background-color: red;
  width: 80% auto;
  height: 80% auto;
  box-sizing: border-box;
  margin: 10% auto;
}
.body{
  background-color: white;
  width: 100px;
  height: 110px;
  border-top-left-radius: 90%;
  border-top-right-radius: 90%;

}
