body {
  background-color: #2E0723;
  font-family: 'Be Vietnam', sans-serif;
  margin: 100px;
  font-size: 30px;
  color: #CC0033;
  text-align: center;

}
a{
  color: #FDFEFE;
  text-decoration: underline;
  transition: color .5s ease;

}
a:hover {
  color: #FFC300;

}
a:visited {
  color: #FF5733
}
#special{
  font-size: 50px;
  }
