
#container{
  margin: 0;
  width: 100%;
}
body{
  background-color: #97A7AB;
  margin: 0;
  float: left;
}
.nav{
  width: 100%;
  height: 35px;
  background-color: #434B53;
  float: left;
}
.headimg {
  width: 100%;
  height: auto;
  float:left;
}
.header {
  text-align: center;
  width: 100%;
  height: auto;
  background-color: #434B53;
  float:none;
  
}
.name {
  margin: auto;
  width: 80%;
  height: auto;
  background-color: #434B53;
  font-family: acumin-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: white;
  font-size: 2vw;
  border: 10px;
  border-style: solid;
  padding: 10px;
  float: inherit;

}
.puppy {
  width: 60%;
  height: 90%;
  float: left;
}
h1{
  font-family: fenway-park-jf, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 8vw;
  color: white;
  margin-bottom: 0;
  margin-top: 10px;
}
h2{
  font-family: acumin-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: white;
  font-size: 2vw;
  margin-top: 0;
  margin-bottom: 20px;
}
h3 {
  margin-left: 50vw;
  font-family: acumin-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: white;
  font-size: 2.4vw;
}
