*{
  box-sizing: border-box;
}
#container{
  margin: 0 auto;
  width: 100%;
}
body{
  background-color: #97A7AB;
  margin: 0 auto;
  float: left;
}
.dunk, .intro,{

}
.what, .lapdog, .smart, .protective {
  padding: 12vw;
  border-style: solid;
  border-color:white;
  border-width: thin;
  width: 90%;
  margin: -10% auto 10% ;
  /* margin-right: 90%; */
  /* margin-left: 90; */
}
.smart, .what {
    margin-bottom: -10%;
}
.puppy{
  padding-right: 5%;
}
p{
  font-family: acumin-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: white;
  font-size: 4vw;
  text-align: left;
  margin-block-start:0;
  margin-block-end: 0;
}
.nav{
  width: 100%;
  height: 5vw;
  background-color: #434B53;
  float: left;
}
.hero {
  width: 100%;
  height: 500px;
  background: url(../imgs/header.JPG) no-repeat center center;
  background-size: cover;
  text-align: center;
  margin: 0;
}
.header {
  text-align: center;
  width: 100%;
  background-color: #434B53;
  float:none;
}
.name {
  margin: auto;
  width: 80%;
  background-color: #434B53;
  border: thin;
  border-color: white;
  border-style: solid;
  padding: 10px;
  float: inherit;

}
.puppy {
  width: 57%;
  height: auto;
  float: left;
}
.looks{
  float: left;
  background-color: #434B53;
  width:100%;
  text-align: center;
  margin-top: 4vw;
}
.does{
  float: left;
  background-color: #434B53;
  width:100%;
  text-align: center;
  margin-top: 4vw;
  margin-bottom: 4vw;
}
.end{
  margin-top: 15px;
  margin-left: 10%;
  margin-right: auto;
  width: 80%;
  background-color: #434B53;
  border-width: thin;
  border-color: white;
  border-style: solid;
  padding: 10px;
  float: left;
  text-align: center;
}
.protect, .sideeye, .outside, .lorg{
  border-style: solid;
  border-color: white;
  border-width: thick;
}
.love{
  float: center;
}
h1{
  font-family: fenway-park-jf, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 8vw;
  color: white;
  margin-bottom: 0;
  margin-top: 0;
}
h2{
  font-family: acumin-pro, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: white;
  font-size: 4vw;
  margin-top: 0;
  margin-bottom: 4vw;
}

img{
  width:65%;
  margin-top: 3vw;
}

@media only screen and (min-width: 1000px) {
img{
  width: 33%;
}
.name{
  width: 60%;
}
.puppy{
  width: 40%;
  margin-top: 0;
  padding: 3%
}
p{
  font-size: 2vw;
}
.protect, .sideeye, .outside, .lorg {
  float: left;
  margin: 10% 10%;
  float: left;
}
.what, .lapdog, .smart, .protective {
  width: 60%;
  padding: 5%;
  margin: 5% auto 5%;


}
h1{
  font-size: 6vw;
}
h2{
  font-size: 3vw;
}
}
